<div class="tool-tip meal">
  <ul>
    <li><%= restaurant.name %> @ <%= minutes_to_time(start_time) %>
    <li><%= restaurant.address %>
    <li><%= restaurant.city_state_zip %>
    <li><%= restaurant.formatted_phone %>
		<li><%= link_to "Map Link", restaurant.map_url, :target => '_blank' %>
		<li><%= link_to "Yelp Review", restaurant.yelp_url, :target => '_blank' %>
		<li><div class="ratings <%= restaurant.yelp_rating_class %>"></div>
  </ul>
  <h6>Diners:</h6>
  <div class="confirmed-participants">
	<% users.each do |user| %>
		<%= user_photo(user) %>
	<% end %>
  </div>
</div>