<%
	flight_color = FlightEvent::COLOR
	lodging_color = LodgingEvent::COLOR
	meal_color = MealEvent::COLOR
%>

<% content_for :head do %>
<style>
	#header #logo { float: left; }
	#header #logo-text { border-bottom: 3px solid grey; margin-left: 95px; margin-top: 0.9px; padding-bottom: 5px; font-family: Verdana; }
	#header #logo-text img { margin: 32px 0 -6px 0; }


	#itinerary-wrapper { position: relative; border-bottom: 1px solid #DDD; }
	#day-timeline { height: 15px; position: relative; }
	#block-timeline,
	.block-itinerary { height: 20px; position: relative; }
	.horizontal-line { width: 100%; border-bottom: 1px solid #DDD; }
	#block-timeline { font-size: 8pt; }
	.s-offset { width: 150px; position: absolute; left: 10px; top: 4px; }
	.timeline-header { height: 80%; }
	.day-header { font-size: 8pt; height: 15px; background-color: gray; }
	.day-header,
	.timeline-header,
	.event-timeline { left: 150px; position: absolute; right: 2px; }
	.day-segment { position: absolute; text-align: center; padding: 1px 0; font-weight: bold; color: white; border-right: 2px solid white; }
	.vbars { position: absolute; top: 46px; bottom: 0; border-right: 1px solid #DDD; z-index: 1; }
	.timeline-segment { position: absolute; margin-left: -12px; top: 4px; }
	.event-segment { position: absolute; display: inline; z-index: 2; margin: 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	.event-segment.eventHover:not(.blocked) { background-color: #EFFF79 !important; }
	.event-segment.blocked { opacity: 0.3; }
	.event-icon { height: 18px; float: left; margin: 0 10px; }
	.event-icon.f { background-image: url('/images/plane_18x18.png'); width: 18px; }
	.event-icon.m { background-image: url('/images/meals_18x18.png'); width: 18px; margin: 0 3px; }
	.event-icon.l { background-image: url('/images/hotel_23x18.png'); width: 23px; }
	.event-icon.a { background-image: url('/images/activities_15x18.png'); width: 15px; }
	.event-info { position: absolute; display: none; background-color: white; border: 1px solid black; z-index: 4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	.tool-tip { padding: 10px; font-size: 10pt; min-width: 200px; }
	.tool-tip ul { padding-left: 0; list-style: none; }
	.tool-tip h6 { margin: 10px 0; font-size: 10pt; }
	.user-photo { height: 40px; margin: 5px; }
	.s-time { margin-right: 5px; }
	.e-time { margin-left: 5px; }
	.f-time { display: none; position: absolute; font-size: 8pt; top: 4px; padding: 0 4px; background-color: wheat; z-index: 3; }

	#participants { margin-left:10px; clear: right; padding-top:10px; }
	#participants .trip-person { float: left; border: 1px dashed #808080; width: 300px; }
	#participants .photo { float: left; }
	#participants .details { float: left; margin-top: 10px; }
	#participants .full-name:hover { background-color: #EFFF79 !important; cursor: move; }
	#participants h2 { margin: 5px 0; border-bottom: 5px solid; padding-bottom: 5px; }
	#participants h2 span { font-size: 10pt; font-weight: normal; background-color: yellow; padding: 3px 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	.trip-person img { height: 40px; margin: 5px; }
	.info-notice { float: left; border: 1px solid #EDCBA8; background-color: #FCF9D7; padding: 10px; width: 330px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	#legend { float: right; padding: 0; padding-top: 10px; margin: 6px; }
	#legend li { float: left; list-style: none; font-size: 10pt; margin-right: 5px; padding: 1px 5px; }

	#legend .flights,
	.tool-tip.flight { background-color: <%= flight_color %>; }
	#legend .lodging,
	.tool-tip.lodging { background-color: <%= lodging_color %>; }
	#legend .meals,
	.tool-tip.meal { background-color: <%= meal_color %>; }

	.ratings { position: relative; background-image: url('/images/yelp_ratings.png'); height: 18px; width: 83px; }
	.ratings.r0 { background-position: 0 325px; }
	.ratings.r1 { background-position: 0 306px; }
	.ratings.r15 { background-position: 0 289px; }
	.ratings.r2 { background-position: 0 268px; }
	.ratings.r25 { background-position: 0 249px; }
	.ratings.r3 { background-position: 0 232px; }
	.ratings.r35 { background-position: 0 213px; }
	.ratings.r4 { background-position: 0 193px; }
	.ratings.r45 { background-position: 0 173px; }
	.ratings.r5 { background-position: 0 155px; }
</style>
<% end %>
<% total_segments = num_trip_time_blocks(@trip) %>
<div id='header'>
	<div id="logo"><%= image_tag "wolfguy_84x120.png" %></div>
	<div id="logo-text"><%= image_tag "wolfpack_logo_246x46.png" %> <span style="margin-left:12px">New York &mdash; May 2011</span></div>
	<div style="clear:both;"></div>
</div>
<div id="itinerary-wrapper">
	<div id="day-timeline">
		<div class="s-offset"></div>
		<div class="day-header">
			<% (0..@trip.duration_in_days-1).each do |day_index| %>
			<div class="day-segment" style="left:<%= 100 * day_index / (@trip.duration_in_days) %>%; width: <%= 100 / (@trip.duration_in_days) %>%">
				<%= (@trip.start_date + day_index.day).strftime("%a %m/%d") %>
			</div>
			<% end %>
		</div>
	</div>
	<div id="vertical-timeline">
		<div class="s-offset"></div>
		<div class="timeline-header">
			<% (0..total_segments).each_with_index do |time_segment, index| %>
				<div class="vbars" style="left:<%= (100 * index) / total_segments %>%;">
				</div>
			<% end %>
		</div>
	</div>
	<div class="horizontal-line"></div>
	<% @destinations.each do |airport| %>
	<div id="block-timeline">
		<div class="s-offset"><%= airport.full_name %></div>
		<div class="timeline-header">
			<% (0..total_segments).each_with_index do |time_segment, index| %>
				<div class="timeline-segment" style="left:<%= (100 * index) / total_segments %>%;">
					<%= convert_index_to_time(@trip, airport, index) %>
				</div>
			<% end %>
		</div>
	</div>
	<% end %>
	<div class="horizontal-line"></div>
		<% @event_blocks.each do |event_block| %>
		<div class="block-itinerary">
			<div class="s-offset"></div>
			<div class="event-timeline ">
				<% event_block.each do |event| %>
					<% e_left = 100 * event.minutes_since_trip_start / @trip.duration_in_minutes %>
					<% e_width = 100 * event.duration / @trip.duration_in_minutes %>
					<span class="s-time f-time" style="right: <%= 100 - e_left %>%"><%= event.start_time_str %></span>
					<div class="event-segment <%= event_class(event) %> <%= event.users.map(&:class_id_name).join(" ") %>" data-info-id="<%= event.hash %>" style="left:<%= e_left %>%; width:<%= e_width %>%; background-color: <%= event.color %>;">
						<span class="event-icon <%= event.icon_class %>"></span><%#= event.duration %>
					</div>
					<span class="e-time f-time" style="left: <%= e_left + e_width %>%"><%= event.end_time_str %></span>
					<% content_for :tool_tip do %>
					<div class="event-info" id="info-<%= event.hash %>" style="left: <%= e_left %>%;">
						<%= render event.tool_tip_partial, event.locals_hash %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<% end %>
		<div id="tool-tips">
			<%= yield :tool_tip %>
		</div>
	</div>
</div>
<ul id="legend">
	  <li class="flights">
	    <label><%= check_box_tag 'checkbox_flights', "1" , {}, {:class =>"legend_flights"}  %>Flights</label>
	  </li>
	  <li class="lodging">
	    <label><%= check_box_tag 'checkbox_lodging', "1", {}, {:class => "legend_lodging"}  %>Lodging</label>
	  </li>
	  <li class="meals">
	    <label><%= check_box_tag 'checkbox_meals', "1", {}, {:class => "legend_meals"}  %>Meals</label>
	  </li>
</ul>

<div id="participants">
	<h2>Current Trip Participants (<%= @trip.users.size %>) <span>To add a user to an event, drag their name to the event bar.</span></h2>
	<% @trip.users.each do |u| %>
		<div class="trip-person<%= " new" if u.id == @new_id %>" data-uid="<%= u.id %>" >
			<div class="photo">
			  <img class="user-photo p" src="/images/<%= u.photo %>" title="<%= u.full_name %>">
			  </div>
			<div class="details">
			  <span class="full-name"><%= u.full_name %> <%= "<span>(Just Added)</span>".html_safe if u.id == @new_id %></span>
			</div>
		</div>
	<% end %>
	<div style="clear:both;"></div>
</div>


<% content_for :script do %>
<script>
	$(function() {
		$('.trip-person.new').attr('style', 'background-color: #EFFF79;').animate({'background-color': 'transparent'}, 2000, function() {
			$('.trip-person.new .full-name span').hide();
		});
	})

  $('.legend_flights').click(function(){
		$('.event-flight').fadeToggle();
	});

  $('.legend_lodging').click(function(){
		$('.event-lodging').fadeToggle();
	});

	$('.legend_meals').click(function(){
		$('.event-meal').fadeToggle();
	});

	$('.event-segment').mouseover(function() {
		$(this).prev().show();
		$(this).next().show();

		var offset = $(this).offset();
		var topOffset = offset.top - 147;
		var leftOffset = offset.left;
		var eventId = $(this).first().data('info-id');
		var toolTip = $('#info-' + eventId);
		toolTip.attr('style', 'top:' + topOffset + 'px; left:' + leftOffset + 'px;').show();
	}).mouseout(function() {
		$(this).prev().hide();
		$(this).next().hide();

		var eventId = $(this).data('info-id');
		var toolTip = $('#info-' + eventId);
		toolTip.hide();
	});

	$('.event-info').mouseover(function() {
		$(this).show();
	}).mouseout(function() {
		$(this).hide();
	});

	$('.trip-person .full-name').draggable({ opacity: 1, helper: 'clone',
	 	start: function(event, ui) {
			var uid = $(ui.helper).closest('.trip-person').data('uid');
			$(".event-segment.u" + uid).addClass('blocked');
		},
		stop: function(event, ui) {
			var uid = $(ui.helper).closest('.trip-person').data('uid');
			$(".event-segment.u" + uid).removeClass('blocked');
		}});
	$('.event-segment').droppable({
		hoverClass: 'eventHover',
	 	drop: function(event, ui) {
			var elExist = false;
			var clientEl = ui.draggable.closest('.trip-person').find('.user-photo').clone();
			var dataId = $(this).data('info-id');
			var participantContainer = $('#info-' + dataId).find('.confirmed-participants');
			participantContainer.find('img').each(function(i, el) {
				if ($(el).attr('title') == clientEl.attr('title')) {
					elExist = true;
					return false;
				}
			});
			$(this).addClass('u' + $(ui.helper).closest('.trip-person').data('uid'))
			if (!elExist) {
				participantContainer.append(clientEl.attr('style', ''));
			}
		}
	});

</script>
<% end %>
